.header{
  margin: 0 auto;
  width: 960px;
  position: fixed;
  background: #fff;
  height: 78px;
  right: 0;
  left: 0;
  top: 0;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    .top-nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 78px;
      a{
        width: 120px;
        text-align: center;
        border-radius: 3px;
        padding: 8px 0;
        &:nth-child(1){
          background: #f0f9ff;
          color: #008bed;
        }
      }
    }
  }
}